body {
	zoom: 4;
	zoom: 400%;
}

@media screen and (orientation: lanscape) {
	body {
		zoom: 2;
		zoom: 200%;
	}
	
	.annotate {
		font-size: 200%;
	}
}

@media screen and (min-width: 800px) {
	body {
		zoom: 1;
		zoom: 100%;
	}
}